@import url('https://fonts.googleapis.com/css?family=Abel');
html {
	font-family: Abel;
	font-size: min(16px, 1.5vw);
	background-color: white;
}
#center {
	position: absolute;
	width: max-content;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	text-align: center;
	padding-left: 4.5em;
}
#logo {
	width: 4em;
	position: absolute;
	bottom: 0;
	translate: -4.5em 16.6667%;
}
.input {
	display: inline-block;
	font-family: Abel;
	font-size: 1rem;
	border: none;
	outline: 1px solid black;
	width: 10em;
	margin: 0;
	padding: 0;
	height: 1.5em;
	text-align: center;
	vertical-align: middle;
	color: black;
	background-color: white;
}
#type, #left-input, #right-input {
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
#type, #right-unit, #left-unit {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.input-image {
	height: 1rem;
	aspect-ratio: 1 / 1;
	vertical-align: middle;
	margin-left: 1rem;
	margin-right: 1rem;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance: textfield;
	margin: 0;
}
